*,
*::before,
*::after {
  box-sizing: border-box;
}
/* * { border: 1px solid red; } */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/* @media (min-width: 800px) {
        :root {
            --fs-h1: 4.5rem;
            --fs-h2: 3.75rem;
            --fs-h3: 1.5rem;
            --fs-body: 1.125rem;
    }
} */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
/* General styles  */

/* Header and footer and layout*/

.footer-container {
  background-color: aquamarine;
}
.footer-container p {
  margin: 0;
}

/* Header and footer and layout*/

/* .layout{ 
                      "header header header"
                      ". content ."
                      "footer footer footer";
    background-color: #91adb4;
}
.header-container{
    grid-area: header;
    color: red;
    display: flex;
    justify-content: center;
}
.footer-container{
    grid-area: footer;
}
.content{
    grid-area: content;
    height: 700px;
}                                         */
